/* ══════════════════════════════════════
 * Ministry page overrides
 * ══════════════════════════════════════ */
.ministry-bg {
  background-image: url(/images/sub/03-ministry/sub-visual-bg.jpg);
}

.ministry-bg-daniel {
  background-image: url(/images/sub/visual/sub-visual0307.jpg);
}

.ministry-bg-gajeong {
  background-image: url(/images/sub/visual/sub-visual0303.jpg);
}

.ministry-bg-yangyuk {
  background-image: url(/images/sub/visual/sub-visual0306.jpg);
}

.ministry-bg-seonkyo {
  background-image: url(/images/sub/visual/sub-visual0207.jpg);
}

.ministry-bg-janghak {
  background-image: url(/images/sub/visual/sub-visual0305.jpg);
}

.ministry-bg-sogroup {
  background-image: url(/images/sub/visual/sub-visual0302.jpg);
}
